{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-bottom: 120px">
        <div class="form-container">
        <h1 class="form-container h1">Наши контакты</h1>
    <p class="whatsapp">Если у вас есть вопросы, пожалуйста, свяжитесь с нами</p>
        <div class="whatsapp"><i class="bi bi-whatsapp"></i><br><a class="whatsapp_link" href="https://www.google.com/maps/place/@50.290476,127.5012804,13z/" target="_blank">
            Whatsapp</a></div>
      <div class="geo_contact"><i class="bi bi-globe-asia-australia"></i><br><a class="geo_contact_link" href="https://www.google.com/maps/place/@50.290476,127.5012804,13z/" target="_blank">
          Адрес: Благовещенск, Амурская область</a></div>
   </div>
    </div>
{% endblock %}